<div class="row content">
  <div class="span6 sport-guys">
    &nbsp;
    <div class="region-map">
      <div class="region region-northeast"></div>
      <div class="region region-southeast"></div>
      <div class="region region-midwest"></div>
      <div class="region region-west"></div>
      <div class="region region-pacific"></div>
      <div class="region region-southwest"></div>
    </div>
    <% Activity.except_other.each do |activity| %>
      <%= sport_guy(activity.name.titleize) %>
    <% end %>
  </div>
  <div class="span6 recent-articles">
    <div class="row">
      <% if @articles.present? %>
        <% @articles.each do |article| %>
          <div class="span3 recent-article-thumb">
            <%= image_tag article.cover_photo %>
            <p class="recent-article-caption"><%= article.cover_photo_caption %></p>
          </div>
        <% end %>
      <% else %>
        <div class="span6 recent-article-thumb"><p>Derp. We don't have any articles to show you here. Maybe you should <%= link_to "write us some", contribute_path %>?</p></div>
      <% end %>
    </div>

  </div>
</div>

<% content_for :extra_footer do -%>
  <script type="text/javascript">
    $(function() {
      var fields = $('.sport-guy'), container = $('.sport-guys'), width = 570, height = 450;
      var hRadius = 190;
      var vRadius = 230;
      var angle = 0, step = (2*Math.PI) / fields.length;
      fields.each(function() {
          var x = Math.round(width/2 + vRadius * Math.cos(angle) - $(this).width()/2);
          var y = Math.round(height/2 + hRadius * Math.sin(angle) - $(this).height()/2);
          if(window.console) {
              console.log($(this).text(), x, y);
          }
          $(this).css({
              left: x + 'px',
              top: y + 'px'
          });
          angle += step;
      });
    });
  </script>
<% end -%>
