<div class="row content">
  <div class="span12">
    <h1>Outing Club Events</h1> <br />
  </div>
  <div class="span9">
    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;mode=AGENDA&amp;height=450&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=admin%40collegeoutside.com&amp;color=%232952A3&amp;ctz=America%2FNew_York" style=" border-width:0 " width="870" height="450" frameborder="0" scrolling="no"></iframe>
    <br />
    <%= sponsor_link('amc', 'amc.jpeg', 'http://www.outdoors.org/') %>
    <%= sponsor_link('moosejaw', 'moosejaw.jpeg', 'http://www.moosejaw.com/') %>
  </div>
  <div class="span3 span-gray">
    <div class="pad-box">
      <h4>Wanted List</h4><br />
      <% wanted_items.each do |item| %>
        <%= link_to item.school.name, school_articles_path(item.school) %> <%= item.description %><br />
      <% end %>
    </div>
  </div>
</div>
