<div class="row">
  <div class="span10 offset1 letter">
    <h2>What We Believe and What We are Going to Do About It</h2>
    <p>Hey Everyone,</p>
    <p>Here at College Outside, we believe in the power of the outdoors. From our own experiences we have found that enjoyment of the outdoors is one of the most universal bonds out there. Outdoor experiences teach you so much about yourself and others. It is not just about being active, it is emotional too. Exploration is a lifestyle choice and those who we chose to share that lifestyle with are like us on a fundamental level. They help us grow and achieve our goals. We create, share, and don’t believe in boundaries. College Outside is our attempt at taking that lifestyle and turning it into a career. So we thought, why couldn’t we along the way help other students do the same?</p>
    <p>We believe that students are the best explorers because of their newfound freedom. More than anyone else they are not rooted in habits, jobs, or location and are consciously trying to get out of their comfort zone. They are primed to be travelers, explorers, and adventurers; the outdoors is the ideal outlet and canvas for these ambitions. However, beyond their immediate outdoor club there is no reliable place for them to turn to for advice and information. We are creating that space so that there is connection between outdoor enthusiasts that extends beyond collegiate borders. College Outside tells the stories of thousands of students who are doing amazing things outdoors. They need to be celebrated. Their stories and adventures will serve as inspiration as well as guidance as to what a student is able to accomplish and what they can achieve.</p>

    <h3>Our Mission</h3>
    <ul>
      <li>Create a centralized space for students to share and bring together everything they learn and love relating to the outdoors.</li>
      <li>Provide aspiring writers, photographers, and videographers the opportunity to gain experience in the growing field of outdoor journalism.</li>
      <li>Connect students with brands and resources that are environmentally friendly, innovative, and socially responsible.</li>
      <li>Design an online publication with a new approach to usability.</li>
    </ul>

    <p>So please enjoy College Outside. Let us know if you want to be <%= link_to "involved", contribute_path %> and please let us know what you <%= link_to "think", contact_us_path %>.</p>
    <p>Thanks. You are awesome!</p>

    <%= image_tag 'about-us/signatures.png' %>
  </div>
</div>
