<div class="row">
  <div class="span9 span-parent">
    <div class="row show-grid">
      <div class="span7 height-half">Metadata</div>
      <div class="span2 height-half">Categories</div>
    </div>
    <div class="row show-grid">
      <div class="span9 height3">article happy fun times</div>
    </div>
  </div>
  <div class="span3 span-parent">
    <div class="row show-grid">
      <div class="span3">Gear</div>
    </div>
    <div class="row show-grid">
      <div class="span3">More from author</div>
    </div>
  </div>
</div>
