<div class="row show-grid">
  <div class="span4 offset4">CO Logo: Babson College</div>
</div>
<div class="row show-grid">
  <div class="span2">Avatar</div>
  <div class="span10">Credentials/ Description</div>
</div>
<div class="row show-grid">
  <div class="span4">Article</div>
  <div class="span4">Article</div>
  <div class="span4">Article</div>
</div>
<div class="row show-grid">
  <div class="span4">Article</div>
  <div class="span4">Article</div>
  <div class="span4">Article</div>
</div>
