<div class="row">
  <div class="span12">
    <!-- SnapWidget -->
    <iframe src="http://snapwidget.com/in/?u=Y29sbGVnZW91dHNpZGV8aW58MzcwfDN8MTB8fHllc3wxNXxub25l" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1185px; height: 3950px" ></iframe>
  </div>
</div>
