<div class="row show-grid">
  <div class="span4 offset4">CO Logo: Babson College</div>
</div>
<div class="row show-grid">
  <div class="span9 span-parent">
    <div class="row show-grid">
      <div class="span9 span-parent">
        <div class="row">
          <div class="span4">Image</div>
          <div class="span5">Article</div>
        </div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="span6">Sponsored thing</div>
      <div class="span3">Adventure Map</div>
    </div>
    <div class="row show-grid">
      <div class="span3">Article</div>
      <div class="span3">Article</div>
      <div class="span3">Article</div>
    </div>
  </div>
  <div class="span3">List of Articles</div>
</div>
