<div class="row">
  <div class="span3 offset1 profile-picture-container">
    <%= image_tag 'team/josh.jpg', alt: "Josh's Profile Picture", class: "profile-picture" %>
  </div>
  <div class="span7">
    <p><span class="team-name">Joshua Bennett</span><span class="team-role">, Co-Founder &amp; Head of Business Operations</span> – Joshua is pursuing a Bachelor of
Science degree in Business Management from Babson College with a concentration in strategic management.
His first entrepreneurial endeavor emerged in the form of an exterior painting business in high school which
earned over $40k in gross revenue over the course of three years. While in college Joshua has had the
distinction of being Apple’s youngest retail Specialist in the Northeast, providing businesses in the Boston area
innovative strategic solutions. In his outdoor ventures Joshua has been a contributing writer for SnowEast
Magazine, worked for five years as a PSIA ski instructor, and restructured Babson’s dormant Outdoor
Association into an organization that consistently delivers “Community Strength through Outdoor Exploration.”
Through College Outside, Joshua hopes to empower outdoor enthusiasts to create and share inspirational
experiences to enrich their own lives and that of others, redefining the boundaries of possibility.</p>
  </div>
</div>
<div class="row">
  <div class="span3 offset1 profile-picture-container">
    <%= image_tag 'team/sarah.jpg', alt: "Sarah's Profile Picture", class: "profile-picture" %>
  </div>
  <div class="span7">
    <p><span class="team-name">Sarah Lockwood</span><span class="team-role">, Co-Founder &amp; Editor-in-Chief</span> – Sarah is a Junior at Tufts University from Kailua,
Hawaii. Since graduating from Punahou, she has founded the Tufts Entrepreneurs Society, filmed and
produced a couple documentaries, learned two other languages, and designed and built a new shelter for
outdoor expeditions which is currently patent pending. As a leader in the Mountain Club, she has had first
hand experience with the inherent risks of adventuring as a headstrong college student. She has gained
invaluable work experience as part of the marketing and sales team at Abroad101, a startup that won the
Mass Challenge in 2010. Her minor in Mass Communications and Media studies reflects her passion for
journalism and the impact that a documented story can have. Her vision is to provide a place for other
students to be able to gain experience in the adventure journalism field, and to provide a resource for college
students that is unparalleled in the outdoor world.</p>
  </div>
</div>
