<div class="row show-grid">
  <div class="span3">Josh Image</div>
  <div class="span9">Josh description</div>
</div>
<div class="row show-grid">
  <div class="span3">Sarah Image</div>
  <div class="span9">Sarah description</div>
</div>
