// article page
@import "variables";

.article-body {
  font-size: 1.1em;
  line-height: 1.5em;
  p {
    margin-bottom: 20px;
  }
}

// article thumbnails

.recent-articles {
  margin-top: -30px;
}

.recent-article-thumb {
  margin-top: 30px;
  position: relative;
}

.recent-article-thumb:hover {
  opacity: 1;
}

.recent-article-caption {
  height: 24px;
  color: $grayDarker;
  margin: 0;
  padding: 10px 10px 10px 0;
}

.recent-article-caption-bottom {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,0.3);
  padding: 165px 10px 10px 10px;
  font-weight: bold;
  width: 100%;
}

.recent-article-caption-bottom:hover {
  background-color: transparent;
  color: transparent;
}

.recent-article-thumb-no-container {
  margin: 10px 0;
}

// school articles

.article-preview {
  text-align: justify;
  margin: 10px 0;
}

.article-preview-read-more {
  float: right;
}

.article-preview-container {
  padding: 10px;
  margin-left: 10px;
}

.school-header-info {
  display: inline-block;
  vertical-align:middle
}

