@import "variables";

// home page content
.content {
  margin-bottom: 40px;
}

.recent-articles {
  margin-top: -30px;
}

.recent-article-thumb {
  margin-top: 30px;
  height: 193px;
  position: relative;
}

.recent-article-thumb:hover {
  opacity: 1;
}

.recent-article-caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 270px;
  padding: 160px 10px 10px 10px;
  background-color: rgba(255,255,255,0.3);
  color: $grayDarker;
}

.recent-article-caption:hover {
  background-color: transparent;
  color: transparent;
}

// country map
$countryMapUrl: url(image-path('country/country-sprite-360.png'));
.region-map {
  position: absolute;
  top: 130px;
  left: 95px;
  width: 360px;
  height: 203px;
  background-image:$countryMapUrl;
  background-position: 0 0;
}

.region {
  position: absolute;
}
.region:hover {
  background-image:$countryMapUrl;
}

@mixin region-position($left, $top, $bgLeft, $bgTop) {
  top: $top;
  left: $left;
  &:hover {
    background-position: ($bgLeft - $left) ($bgTop - $top);
  }
}

// #brown 2
$brown2Top:-214px;
$brown2Left:0px;

.region-northeast {
  height: 77px;
  width: 68px;
  @include region-position(292px, 15px, $brown2Left, $brown2Top)
}

.region-southeast {
  height: 100px;
  width: 104px;
  @include region-position(225px, 93px, $brown2Left, $brown2Top)
}

.region-west {
  height: 90px;
  width: 90px;
  @include region-position(75px, 25px, $brown2Left, $brown2Top)
}

// #brown 1

$brown1Top:0px;
$brown1Left:-371px;

.region-southwest {
  height: 75px;
  width: 120px;
  @include region-position(100px, 120px, $brown1Left, $brown1Top)
}

.region-midwest {
  height: 90px;
  width: 120px;
  @include region-position(167px, 30px, $brown1Left, $brown1Top)
}

.region-pacific {
  height: 165px;
  width: 80px;
  @include region-position(5px, 10px, $brown1Left, $brown1Top)
}

// /* Large desktop */
// @media (min-width: 1200px) { ... }

// /* Portrait tablet to landscape and desktop */
// @media (min-width: 768px) and (max-width: 979px) { ... }

// /* Landscape phone to portrait tablet */
// @media (max-width: 767px) { ... }

// /* Landscape phones and down */
// @media (max-width: 480px) { ... }
