@import "variables";

.map_thumbnail {
  margin: 5px;
}

.map_thumbnail_image {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 100px;
}
.map_container {
  height: 600px;
  width: 1155px;
}
.gmaps4rails_map {
  width: 100%;
}

.school-adventure-map {
  width: 530px;
  height: 350px;
}
